{% include "header.html" %}
{% load index %}

<style>
    td{border: 1px solid;}
    th{border: 1px solid;}
    .free{background-color: #AAFFAA;}
    .booked{background-color: #ffcccc;}
    .poiner{cursor: pointer;}
    .past{background-color: #909090;}
</style>

{% if not user.is_anonymous %}
    <table>
  <tr>
    <th></th>
    <th>Понедельник</th>
    <th>Вторник</th>
    <th>Среда</th>
    <th>Четверг</th>
    <th>Пятница</th>
    <th>Суббота</th>
    <th>Воскресенье</th>

</tr>
    <tr>
        <th></th>
        {% for date, times in dates.items %}
            <th>{{ date }}</th>
        {% endfor %}
    </tr>
    {% for time in time_list %}
        <tr>
            <td>{{ time.string }}</td>
                {% for date, times in dates.items %}
                {% with some_index=forloop.counter0 %}
                  {% if time.string in times and date in fill_date %}
                            <td class="booked" onclick="alert('Это время занято!')"></td>
                  {% elif dayOfYear > datesIndays|custom_index:some_index and page == 1 or todaysDate == date and now_time > time.minutes %}
                                <td class="past" onclick="alert('Вы не можете записаться на это время!')">{{ datesIndays|custom_index:some_index }}</td>
                  {% else %}
                            <td class="free poiner"><a href="{% url 'appoint' %}?time={{ time.string }}&date={{ date }}">{{ time.string }}</a></td>
                  {% endif %}
                {% endwith %}
                {% endfor %}

            </tr>

        {% endfor %}
    </table>

    {# Кнопка для перехода на предыдущую неделю #}
    {% if back != -1 %}
        <a href="?next={{ back }}" class="btn btn-primary">Назад</a>
    {% endif %}
    {# Кнопка для перехода на следующую неделю #}
    <a href="?next={{ page }}" class="btn btn-primary">Вперед</a>

    {% else %}
    <p>Для записи на прием войдите в аккаунт</p>
{% endif %}
<br>
{{ dates }} <br>



</body>
</html>
