{% include "header.html" %}

<p>
    Запись на {{ date }} Время: {{ time }}
</p>

<form method="post" action="/create_response/">
    {% csrf_token %}
    <input type="hidden" name="time" value="{{ time }}">
    <input type="hidden" name="date" value="{{ date }}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ваше имя</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Электронная почта</label>
    <input type="email" class="form-control" id="exampleInputPassword1" name="email">
  </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Номер телефона</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="mobile_number">
    </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
  </div>
  <button type="submit" class="btn btn-primary" value="save">Отправить</button>
</form>

</body>
</html>